.privacy__title {
  font-size: var(--font-size-subhead-h2);
  font-weight: 800;
  line-height: var(--line-height-subhead-h2);
  padding-top: var(--padding-top-subhead-h2);
  padding-bottom: var(--padding-bottom-subhead-h2);

  @include media-breakpoint-up(lg) {
    margin-right: auto;
    margin-left: auto;
    max-width: $width-readable-abs;
  }
}

.privacy__content {
  @include media-breakpoint-up(lg) {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-readable-abs;
  }
}

