<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4R6SM7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<a id="top"></a>
<header class="header">
  <div class="container header__wrapper">
    <a class="header__logo" href="/">
      <img src="/wp-content/themes/polylog/img/components/logo/polylog-logo.svg" width="143" height="40" alt="Логотип Polylog">
    </a>
    <div class="header__nav">
      <button class="header__toggle" type="button">
        <span></span>
      </button>
      <div class="header__menu">
        <div class="header__menu-top">
          <button class="header__menu-close" type="button"></button>
        </div>
        <ul id="menu-glavnoe-menyu" class="header__menu-list">
          <li class="header__menu-item">
            <a href="/pr/" class="header__menu-link">Услуги</a>
          </li>
          <li class="header__menu-item">
            <a href="/cases/" class="header__menu-link">Кейсы</a>
          </li>
          <li class="header__menu-item">
            <a href="https://polylog.ru/agency" class="header__menu-link">Команда</a>
          </li>
          <li class="header__menu-item">
            <a href="/vakansii" class="header__menu-link">Карьера</a>
            <ul class="sub-menu">
              <li class="header__menu-item">
                <a href="https://polylog.ru/stazhirovka" class="header__menu-link">Стажировка</a>
              </li>
              <li class="header__menu-item">
                <a href="https://polylog.ru/vakansii" class="header__menu-link">Вакансии</a>
              </li>
            </ul>
          </li>
          <li class="header__menu-item">
            <a href="https://polylog.ru/pr-blog" class="header__menu-link">Блог</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
